{% extends "base.html" %}

{% block main %}

<br>
<div class="text-center">
    <h3 class="text-satanya">{{article.title}}</h3>
</div>
{% if user.id==1 %}
    <div class="row justify-content-end">
        <a class="btn btn-sm btn-outline-primary" href="/editarticle?articleid={{article.id}}">Edit</a>
        &nbsp;&nbsp;
        <a class="btn btn-sm btn-outline-danger" href="/deletearticle?articleid={{article.id}}">delete</a>
    </div>
{% endif %}
<div class="text-center">
    <a class="btn btn-outline-satanya btn-sm" href="/getmodulearticles?moduleid={{module.id}}">{{module.modulename}}</a>
</div>
<div class="row justify-content-end">
    <div class="text-dark">created: {{article.CreateZoneTime}}</div>
</div>
<div class="row justify-content-end">
    <div class="text-dark">updated: {{article.UpdateZoneTime}}</div>
</div>
<div id="div1" style="display: none">{{article.content}}</div>
<br>
    <p id="div"></p>

<script type="text/javascript">
    $('#div').html($('#div1').text())
</script>

{% endblock %}