{% extends "base.html" %}

{% block main %}

<form method="post" action="/createmodule">
    <h3>Create Module</h3>
    {% if error != null %}
    <div class="form-group">
        <p id="error" class="text-danger">{{ error }}</p>
    </div>
    {% endif %}
    <div class="form-group">
        <label>ModuleName</label>
        <input name="modulename" required="true" type="text" class="form-control" placeholder="Module Name" value="{{ modulename }}">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-outline-primary">Submit</button>
    </div>
</form>

{% endblock %}