{% extends "base.html" %}

{% block main %}
<h2 class="font-weight-bold text-center text-satanya">Experience</h2>
<p class="lead my-3">I was hired by Inspur Software Co., Ltd as a software development engineer internship
    for 3 months. During that time, I was mainly engaged in the development and programming of 2 projects: <i>Think Tank</i>, and
        <i>Intelligent Manufacturing</i></p>
<p class="lead my-3">As for <i><a href="http://znzz.ckcest.cn/" target="_blank"> Intelligent Manufacturing</a></i>,
    it is developed based on the back-end framework of SpringMVC, I took the responsibility of
    coding the interfaces of interaction between front-end and back-end.</p>

<p class="lead my-3">For <i>Think Tank</i>, it is developed based on the SpringBoot microservices architecture
    (SpringBoot, consul, ZooKeeper, Kafka, redis, mysql). My principal job was to implement the function of sending notification
    emails and text messages to users.</p>

<p class="lead my-3">Over the whole internship period, I learned and obtained a lot of popular industrial technologies, and my communication
skills got largely improved. It means a lot to me and inspires me to make decision to work in software developing fields.</p>

{% endblock %}