{% extends "base.html" %}

{% block main %}
<h2 class="font-weight-bold text-center text-satanya">About Me</h2>
<p class="lead my-3">Hi, I'm Meng Zhao, welcome to my blog, I just finished my graduate study in software. This website is
developed for the sake of writing down and show you guys some of the projects i contributed to, some ideas coming
to my mind and some inspirational knowledge i obtain.</p>
<h3 class="font-weight-bold text-satanya">Education Background</h3>
<li class="lead my-3 font-weight-bolder text-secondary">I pursued my undergraduate study in
    <a href="https://www.bupt.edu.cn/" target="_blank">Beijing University of Posts and Telecommunications</a>,
    Beijing, China between 2016 and 2020, and got bachelor's degree in Engineering in Network Engineering.</li>
<li class="lead my-3 font-weight-bold text-secondary">I finished my graduate study in <a href="https://uwaterloo.ca/" target="_blank">
    University of Waterloo</a>, Ontario, Canada in 2021, and got my master in Engineering degree in Software. </li>

<h3 class="font-weight-bold text-satanya">What I am doing now</h3>
<li class="lead my-3 font-weight-bolder text-secondary">I am preparing for my job-hunting in Canada, I would like to be a
software engineer, my most interested part about software development is the back-end side. But of course, I have general knowledge
    about front-end.</li>
<li class="lead my-3 font-weight-bolder text-secondary">As for what have done and am doing, I code to solve Leetcode
 problems on a daily basis, and participate in the weekly contest every Saturday. When you read this line, I am writing
my blog of course. lol :D</li>

<h3 class="font-weight-bold text-satanya">Programming Skills</h3>
<li class="lead my-3 font-weight-bolder text-secondary"><a class="text-dark">languages:</a> Java, SQL, Python, C/C++, JavaScript, JSP</li>
<li class="lead my-3 font-weight-bolder text-secondary"><a class="text-dark">frameworks:</a> Spring-related frameworks, Hibernate, Mybatis, Django,
Junit, Node.js </li>
<li class="lead my-3 font-weight-bolder text-secondary"><a class="text-dark">developer tools:</a> IntelliJ IDEA, Visual Studio Code,
PyCharm, WebStorm, Maven, Git, Eclipse</li>
<li class="lead my-3 font-weight-bolder text-secondary"><a class="text-dark">something else:</a> REST API, JavaMail, Redis </li>

<h3 class="font-weight-bold text-satanya">Some Random Things About Me</h3>
<li class="lead my-3 font-weight-bolder text-secondary">I am a cat lover but not a dog hater, I wish to keep 2 cats after I am settled down.</li>
<li class="lead my-3 font-weight-bolder text-secondary">Being addicted to anime, and collected lots of JK seifuku.</li>
<li class="lead my-3 font-weight-bolder text-secondary">My favorite singer is a Japanese called Aimer, attracted by her
    inspirational experiences and unique voice.</li>
<li class="lead my-3 font-weight-bolder text-secondary">I learned painting for 4 years, but didn't draw for quite a long time.</li>
<li class="lead my-3 font-weight-bolder text-secondary">I love cooking and baking, now I am learning to decorate cakes with cream.</li>
<li class="lead my-3 font-weight-bolder text-secondary">Be growing my hair, I end up cutting it last time I do that, wish me success this time!</li>

<h3 class="font-weight-bold text-satanya">Contact</h3>
<li class="lead my-3 font-weight-bolder text-secondary">Email: m235zhao@uwaterloo.ca</li>
<li class="lead my-3 font-weight-bolder text-secondary">Tel: (+1) 807-706-0786</li>
<li class="lead my-3 font-weight-bolder text-secondary">Location: Ontario, Canada</li>

<h3 class="font-weight-bold text-satanya">Future Plans</h3>
<li class="lead my-3 font-weight-bolder text-secondary"></li>
{% endblock %}