{% extends "base.html" %}

{% block main %}

<div class="row flex-nowrap justify-content-between align-items-center">
    <div class="col-4 pt-1">
<!--        <h3>Articles</h3>-->
    </div>
    <div class="col-4 d-flex justify-content-end align-items-center">
        {% if user.id==1 %}
        <a class="btn btn-sm btn-outline-primary" href="/writearticle">Write An Article</a>
        {% endif %}
    </div>
</div>

<br>
<form method="post" action="/searcharticles">
    <div class="row">
        <div class="col-2"></div>
        <div class="form-group col-6">
            <input name="searchkey" type="text" class="form-control" placeholder="Search Here">
        </div>
        <div class="form-group col-2">
            <button class="btn btn-outline-primary" type="submit">Search</button>
        </div>
    </div>
</form>
<ul class="list-group list-group-flush">
    <li class="list-group-item bg-light" >
        <div class="row text-satanya">
            <div class="col-1"></div>
            <div class="col-6 text-center"><h3>Title</h3></div>
            {% if user.id==1 %}
            <div class="col-3 text-center"><h3>Created Time</h3></div>
            {% else %}
            <div class="col-4 text-center"><h3>Created Time</h3></div>
            {% endif %}
        </div>
    </li>
    {% for article in articles %}
        <li class="list-group-item bg-light" >
            <div class="row">
                <div class="col-1"></div>
                <div class="col-6">
                    <a href="/getarticle?articleid={{article.id}}" style="font-size: 18px" class="text-satanya">{{ article.title }}</a>
                </div>
                {% if user.id==1 %}
                <div class="col-3 text-center text-satanya">{{article.createZoneDate}}</div>
                <div class="col-1">
                    <form method="post" action="/deletearticle">
                        <input type="hidden" class="form-control" name="articleid" value="{{article.id}}">
                        <button type="submit" class="btn btn-outline-primary btn-sm">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <title>Delete</title>
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                        </button>
                    </form>
                </div>
                {% else %}
                    <div class="col-4 text-center text-satanya">{{article.createZoneDate}}</div>
                {% endif %}
            </div>
        </li>
    {% endfor %}
</ul>

<br>
<div>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
        {% if curpage!=1 %}
        <li class="page-item"><a class="page-link" href="/getarticles?pageidx={{curpage-1}}">Previous</a></li>
        {% endif %}

        {% if pagenum<=3 and pagenum>=1 %}
            {% if curpage==1 %}
                <li class="page-item active">
            {% else %}
                <li class="page-item">
            {% endif %}
                <a class="page-link" href="/getarticles?pageidx=1">1</a>
                </li>
        {% endif %}

        {% if pagenum<=3 and pagenum>=2 %}
            {% if curpage==2 %}
            <li class="page-item active">
                {% else %}
            <li class="page-item">
                {% endif %}
                <a class="page-link" href="/getarticles?pageidx=2">2</a>
            </li>
        {% endif %}

        {% if pagenum==3 %}
            {% if curpage==3 %}
            <li class="page-item active">
                {% else %}
            <li class="page-item">
                {% endif %}
                <a class="page-link" href="/getarticles?pageidx=3">3</a>
            </li>
        {% endif %}

        {% if pagenum>3 and curpage-1<1 %}
            <li class="page-item active"><a class="page-link" href="/getarticles?pageidx={{curpage}}">{{curpage}}</a></li>
            <li class="page-item"><a  class="page-link" href="/getarticles?pageidx={{curpage+1}}">{{curpage+1}}</a></li>
            <li class="page-item"><a class="page-link" href="/getarticles?pageidx={{curpage+2}}">{{curpage+2}}</a></li>
        {% elseif pagenum>3 and curpage+1<=pagenum %}
            <li class="page-item"><a class="page-link" href="/getarticles?pageidx={{curpage-1}}">{{curpage-1}}</a></li>
            <li class="page-item active"><a  class="page-link" href="/getarticles?pageidx={{curpage}}">{{curpage}}</a></li>
            <li class="page-item "><a class="page-link" href="/getarticles?pageidx={{curpage+1}}">{{curpage+1}}</a></li>
        {% endif %}

        {% if pagenum>3 and curpage==pagenum %}
            <li class="page-item"><a class="page-link" href="/getarticles?pageidx={{curpage-2}}">{{curpage-2}}</a></li>
            <li class="page-item"><a  class="page-link" href="/getarticles?pageidx={{curpage-1}}">{{curpage-1}}</a></li>
            <li class="page-item active"><a class="page-link" href="/getarticles?pageidx={{curpage}}">{{curpage}}</a></li>
        {% endif %}

        {% if curpage!=pagenum %}
            <li class="page-item"><a class="page-link" href="/getarticles?pageidx={{curpage+1}}">Next</a></li>
        {% endif %}
    </ul>
</nav>
</div>

<script type="text/javascript">
    // const url = "http://localhost:8080/getarticles?pageidx="
    // $('#a0').click(function (){
    //     var pagenum = $("#cur").text()-1;
    //     var request = new XMLHttpRequest();
    //     request.open("GET",url+pagenum);
    //     request.send(null);
    // })
    // $(".page-link").on('click',function (){
    //     var pagenum = $(".page-link").text();
    //     var request = new XMLHttpRequest();
    //     request.open("GET",url+pagenum);
    //     request.send(null);
    // })
</script>
{% endblock %}