{% extends "base.html" %}

{% block main %}

<form method="post" action="/editarticle">
    <h3>Edit Article</h3>
<!--    {% if error != null %}-->
<!--    <div class="form-group">-->
<!--        <p id="error" class="text-danger">{{ error }}</p>-->
<!--    </div>-->
<!--    {% endif %}-->
    <div class="form-group">
        <label>Module Name</label>
        <select name="moduleid" required="true" class="form-control" placeholder="Module Name" value="{{article.moduleid}}" >
            {% for module in modules %}
            {% if module.id==article.moduleid %}
            <option selected="selected" value="{{module.id}}">{{module.modulename}}</option>
            {% else %}
            <option value="{{module.id}}">{{module.modulename}}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label>Title</label>
        <input name="title" required="true" type="text" class="form-control" placeholder="Article Title" value="{{article.title}}">
    </div>
    <div class="form-group">
        <label>Content</label>
        <div id="div1"></div>
        <div style="display: none">
            <textarea id="div2" name="content" required="true" class="form-control"
                      placeholder="Article Content">
            </textarea>
            <textarea id="div3">
                {{article.content}}
            </textarea>
        </div>

    </div>
    <div class="form-group">
        <input name="articleid" type="hidden" class="form-control" value="{{article.id}}">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-outline-primary">Confirm Edit</button>
    </div>
</form>

<script type="text/javascript" src="https://unpkg.com/wangeditor/dist/wangEditor.min.js"></script>
<script type="text/javascript">
    const E = window.wangEditor
    const editor = new E('#div1')
    editor.config.excludeMenus = [
        'indent',
        'emoticon',
        'video',
    ]
    editor.config.placeholder = "Please write your content here"
    editor.config.showLinkImg = false
    editor.config.uploadImgShowBase64 = true   // base64
    editor.create()
    editor.txt.html($('#div3').text())
    var div2 = $('#div2')
    $("button").click(function(){
        div2.val(editor.txt.html())
    });


</script>

{% endblock %}

