{% extends "base.html" %}

{% block main %}

<br>
<!--<div style="background-image: url(/static/images/0.jpg)">-->
<!--    <div style="padding-bottom: 1rem; padding-top: 1rem; background: rgba(255,255,255,0.4)">-->
<!--        <div class="col-md-8 px-0" style="margin-left: 3rem; color: #7e1616">-->
<!--            <h1 class="display-4 font-italic">Welcome to my blog</h1>-->
<!--            <p class="lead my-3">Hi, I'm Meng Zhao, welcome to my blog, I just finished my graduate study in software.-->
<!--                This website is developed for the sake of writing down and showing you guys some of the projects i contributed to,-->
<!--                some ideas coming to my mind and some inspirational knowledge i obtain.</p>-->
<!--            <p class="lead mb-0"><a href="/getarticles?pageidx=1" class="font-weight-bold" style="color: #7e1616">If you are interested, click here to-->
<!--            read more of my articles...</a></p>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--<br>-->
<!--<main role="main" class="container">-->
    <div class="row text-satanya">
        <div class="col-md-8 blog-main">
            <h3 class="pb-4 mb-4 font-italic border-bottom">
                Recently Posted Articles
            </h3>
            <div class="blog-post">
                <h2 class="blog-post-title">{{article1.title}}</h2>
                <p class="blog-post-meta">{{article1.createZoneTime}} by Meng Zhao</p>
                <div id="div1" style="display: none">{{article1.content}}</div>
                <p id="div0" class="text-dark"></p>
            </div>

            <div class="blog-post">
                <h2 class="blog-post-title">{{article2.title}}</h2>
                <p class="blog-post-meta">{{article2.createZoneTime}} by Meng Zhao</p>
                <div id="div3" style="display: none">{{article2.content}}</div>
                <p id="div2" class="text-dark"></p>
            </div>

        </div>

        <aside class="col-md-4 blog-sidebar">
            <div class="p-4">
                <div class="row">
                    <h4 class="font-italic">Topics & Modules</h4>
                    {% if user.id==1 %}
                    &nbsp;&nbsp;
                    <a class="btn btn-sm btn-outline-satanya" href="/createmodule">+</a>
                    {% endif %}
                </div>

                    {% for module in modules %}
                    <a href="/getmodulearticles?moduleid={{module.id}}" class="btn btn-outline-satanya btn-sm" style="margin-bottom: 1rem">{{module.modulename}}</a>
<!--                    <br><br>-->
                    {% endfor %}

            </div>

            <div class="p-4">
                <h4 class="font-italic">Elsewhere</h4>
                <ol class="list-unstyled">
                    <li><a href="https://github.com/meng1022" target="_blank">GitHub</a></li>
                    <li><a href="https://www.linkedin.com/in/meng-zhao-764152228/" target="_blank">LinkedIn</a></li>
                </ol>
            </div>
        </aside><!-- /.blog-sidebar -->
    </div>
<!--</main>-->

<script type="text/javascript">
    $('#div0').html($('#div1').text())
    $('#div2').html($('#div3').text())
</script>

{% endblock %}
