{% extends "base.html" %}

{% block main %}
<h2 class="font-weight-bold text-center text-satanya">Projects</h2>
<br>
<div class="card-deck mb-4" style="height: 12rem">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title text-center font-italic">Search Engine</h5>
            <p class="card-text text-center">A search engine using TREC Data, Boolean AND and BM25 retrieval methods</p>
            <div class="text-center">
                <a class="btn btn-outline-satanya btn-sm" href="#">Write-up</a>
                <a class="btn btn-outline-satanya btn-sm" href="#">Github</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title text-center font-italic">CampusLine</h5>
            <p class="card-text text-center">A social networking and knowledge-sharing web app based on SpringBoot framework</p>
            <div class="text-center">
                <a class="btn btn-outline-satanya btn-sm" href="#">Write-up</a>
                <a class="btn btn-outline-satanya btn-sm" href="#">Github</a>
            </div>
        </div>
    </div>
</div>

<div class="card-deck mb-4" style="height: 12rem">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title text-center font-italic">Online Examination System</h5>
            <p class="card-text text-center">An examination system based on web providing
                online examination environment with high security and reliability</p>
            <div class="text-center">
                <a class="btn btn-outline-satanya btn-sm" href="#">Write-up</a>
                <a class="btn btn-outline-satanya btn-sm" href="#">Github</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title text-center font-italic">Grade Management System</h5>
            <p class="card-text text-center">a student grade management system based on the framework of SpringMVC
                for students and teachers to check and upload grades</p>
            <div class="text-center">
                <a class="btn btn-outline-satanya btn-sm" href="#">Write-up</a>
                <a class="btn btn-outline-satanya btn-sm" href="#">Github</a>
            </div>
        </div>
    </div>
</div>

<div class="card-deck mb-4" style="height: 12rem">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title text-center font-italic">Football Club Management System</h5>
            <p class="card-text text-center">A system based on Client/Server (CS) mode to make it convenient to
                manage club members and football players among clubs</p>
            <div class="text-center">
                <a class="btn btn-outline-satanya btn-sm" href="#">Write-up</a>
                <a class="btn btn-outline-satanya btn-sm" href="#">Github</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title text-center font-italic">Microblog</h5>
            <p class="card-text text-center">A social networking platform where people can easily
                communicate and keep contact</p>
            <div class="text-center">
                <a class="btn btn-outline-satanya btn-sm" href="#">Write-up</a>
                <a class="btn btn-outline-satanya btn-sm" href="#">Github</a>
            </div>
        </div>
    </div>
</div>

<div class="card-deck mb-4" style="height: 12rem; ">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title text-center font-italic">Distributed Temperature Control System</h5>
            <p class="card-text text-center">A distributed temperature control system based on websocket
                and the framework of SSM, which could smartly generate bills and manage temperature of rooms</p>
            <div class="text-center">
                <a class="btn btn-outline-satanya btn-sm" href="#">Write-up</a>
                <a class="btn btn-outline-satanya btn-sm" href="#">Github</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title text-center font-italic">Software-Based Operating System</h5>
            <p class="card-text text-center">A software using C++ with basic functions of an operating system
                like process management, file system, memory management, interruption and UI</p>
            <div class="text-center">
                <a class="btn btn-outline-satanya btn-sm" href="#">Write-up</a>
                <a class="btn btn-outline-satanya btn-sm" href="#">Github</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}