<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Meng Zhao</title>
    <script src="/static/js/jquery.js"></script>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/form.css" rel="stylesheet">
</head>

<body class="text-center bg-light">
<main class="form-signin">
    <form method="post" action="/user/register">
        <h1 class="h3 mb-3 fw-normal">Register</h1>
        {% if error != null %}
        <div class="form-group">
            <p id="error" class="text-danger">{{ error }}</p>
        </div>
        {% endif %}
        <div class="form-group">
            <input name="email" type="email" required="true" class="form-control" placeholder="Email" value="{{ email }}">
        </div>
        <div class="form-group">
            <input name="password" type="password" required="true" class="form-control" placeholder="Password" minlength="6" maxlength="20">
        </div>
        <div class="form-group">
            <input name="name" type="text" required="true" class="form-control" placeholder="Name" minlength="1" maxlength="50">
        </div>
        <br>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
    </form>
    <br>
    <a href="/user/signin">Already have an account?</a>
</main>
</body>
</html>