<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Meng Zhao</title>
    <script src="/static/js/jquery.js"></script>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/form.css" rel="stylesheet">
</head>

<body class="text-center bg-light">
<main class="form-signin">
    <form method="post" action="/user/signin">
        <h1 class="h3 mb-3 fw-normal">Sign In</h1>
        {% if error != null %}
        <div class="form-group">
            <p id="error" class="text-danger">{{ error }}</p>
        </div>
        {% endif %}
        <div class="form-floating">
            <input name="email" type="email" required="required" class="form-control" placeholder="Email" value="{{email}}">
        </div>
        <br>
        <div class="form-floating">
            <input name="password" type="password" required="required" class="form-control" placeholder="Password">
        </div>
        <br>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    </form>
    <br>
    <a href="/user/register" class="w-100 btn btn-lg btn-outline-primary" >Sign up</a>
    <br><br>
    <a href="#">Forget your password?</a>
</main>
</body>
</html>
